{{extend 'layout_ela.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','vendor/layout_ela/css/lib/sweetalert/sweetalert.css')}}">
<link rel="stylesheet" href="{{=URL('static','vendor/datepicker/bootstrap-datepicker.standalone.min.css')}}"/>

<style>
    h2 {
        margin-bottom: 2px !important;
    }

    .proveedores {
        padding: 0px 2px !important;
    }
</style>
{{end head}}

<div class="mt-3 mb-3">
    <a class="btn btn-danger" style="margin-bottom: 8px!important;" href="{{=URL('detalles', args=[session.id_pieza])}}"><i
            class="ti-arrow-circle-left"></i>{{=T(" Atrás")}}</a>
</div>

<div class="card" id="container">


    <h2>{{=T("Detalles de venta")}}</h2>
    <hr>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-2"><b>Detalles de Pieza</b></div>
                <div class="row">
                    <span class="mr-2 col-md-3">Codigo:</span><span class="col-md-8">{{=pieza.codigo}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Nombre:</span><span class="col-md-8">{{=pieza.nombre}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Descripción:</span><span class="col-md-8">{{=pieza.descripcion}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Cantidad Venta:</span><span class="col-md-8">{{=pieza.cantidad}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Unidad:</span><span class="col-md-8">{{=pieza.unidad}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Precio de Entrada:</span><span
                        class="col-md-8">{{=pieza.precio_entrada}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Precio de Salida:</span><span
                        class="col-md-8">{{=pieza.precio_salida}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Fecha de Entrada:</span><span
                        class="col-md-8">{{=__format_fecha(pieza.fecha_entrada)}}</span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">

                <div class="mb-2"><b>Detalles de Venta</b></div>

                <div class="row">
                    <span class="mr-2 col-md-3">Fecha de Salida:</span><span
                        class="col-md-8">{{=__format_fecha(venta.fecha_salida)}}</span>
                </div>

                <div class="row">
                    <span class="mr-2 col-md-3">Monto total:</span><span class="col-md-8">{{=venta.precio_total}}</span>
                </div>
            </div>
        </div>


    </div>
</div>
<!--
<div class="card" id="container">

    <div class="card-body">
        <div class="row proveedores">
            <div class="col-md-12">
                <h3>Proveedores</h3>
                <hr>
                <div class="table-responsive">
                {{=proveedores}}
                        {{="No tiene proveedores" if len(proveedores) == 0 else ""}}

                </div>

            </div>
        </div>


    </div>
</div>
-->
{{block page_js}}
<script src="{{=URL('static','vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static','vendor/datatables/buttons.colVis.min.js')}}"></script>
<script>
    $('table').DataTable({

        dom: 'lfrtiBp',
        buttons: [
            {
                extend: 'pdfHtml5',
                text: 'PDF',
                title: 'Pieza\nCódigo: {{=pieza.codigo}}   Nombre: {{=pieza.nombre}}\n\nListado de proveedores',
                filename: 'Proveedores',
                pageSize: 'LETTER',
                customize: function (doc) {
                    doc.content[1].table.widths = [
                        '25%',
                        '25%',
                        '25%',
                        '25%',
                    ]
                }
            },
            {
                extend: 'excelHtml5',
                text: 'Excel',
                title: 'Listado de proveedores',
                filename: 'Proveedores',
            },

        ],
        language: {
            "decimal": "",
            "emptyTable": "{{=T('No hay información')}}",
            "info": "{{=T('Mostrando _START_ a _END_ de _TOTAL_ Entradas')}}",
            "infoEmpty": "{{=T('Mostrando 0 to 0 of 0 Entradas')}}",
            "infoFiltered": "{{=T('(Filtrado de _MAX_ total entradas)')}}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{{=T('Mostrar _MENU_ Entradas')}}",
            "loadingRecords": "{{=T('Cargando...')}}",
            "processing": "{{=T('Procesando...')}}",
            "search": "{{=T('Buscar:')}}",
            "zeroRecords": "{{=T('Sin resultados encontrados')}}",
            "paginate": {
                "first": "{{=T('Primero')}}",
                "last": "{{=T('Último')}}",
                "next": "{{=T('Siguiente')}}",
                "previous": "{{=T('Anterior')}}"
            }
        }


    });
    $('table').addClass('display nowrap table table-hover table-striped table-bordered');
</script>
{{end page_js}}