{{extend 'layout_ela.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','vendor/layout_ela/css/lib/sweetalert/sweetalert.css')}}">
<link rel="stylesheet" href="{{=URL('static','vendor/datepicker/bootstrap-datepicker.standalone.min.css')}}"/>

<style>
    h2 {
        margin-bottom: 2px !important;
    }

    .proveedores {
        padding: 0px 2px !important;
    }
</style>
{{end head}}

<div class="mt-3 mb-3">
    <a class="btn btn-danger" style="margin-bottom: 8px!important;" href="{{=URL('detalles', args=[session.id_pieza])}}"><i
            class="ti-arrow-circle-left"></i>{{=T(" Atrás")}}</a>
</div>

<div class="card" id="container">


    <h2>{{=T("Detalles de entrada")}}</h2>
    <hr>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <span class="mr-2 col-md-3">Codigo:</span><span class="col-md-8">{{=pieza_entrada.codigo}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Nombre:</span><span class="col-md-8">{{=pieza_entrada.nombre}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Descripción:</span><span
                        class="col-md-8">{{=pieza_entrada.descripcion}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3"><b>Cantidad Entrada:</b></span><span
                        class="col-md-8"><b>{{=pieza_entrada.cantidad}}</b></span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Unidad:</span><span class="col-md-8">{{=pieza_entrada.unidad}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Precio de Entrada:</span><span
                        class="col-md-8">{{=pieza_entrada.precio_entrada}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Precio de Salida:</span><span
                        class="col-md-8">{{=pieza_entrada.precio_salida}}</span>
                </div>
                <div class="row">
                    <span class="mr-2 col-md-3">Fecha de Entrada:</span><span
                        class="col-md-8">{{=__format_fecha(pieza_entrada.fecha_entrada)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


{{block page_js}}

{{end page_js}}